body{
background-color:#ffbaba;
text-align:center;
/*color:#f0134d;*/
color:white;
}
.containerField
{
  width:100%;
}
.mainHeading{
  font-family: 'Lobster', cursive;
  margin:150px auto 80px auto;
  font-size:5rem;
  line-height:1.5;
}
.subHeading{
  font-family: 'Ubuntu', sans-serif;
  margin-top:80px;
  font-size:2rem;
  line-height:1.5;
}
p{
  margin-top:80px;
}

.inputText{
  color:#d15a7c;
  width:400px;
  background-color:#f1fcfc;
  margin:20px auto;
  padding:3px 10px;
}
.btn{
  color:white;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 80px;
  border:1px solid;
}
@media (max-width:1080px)
{
  body{
  font-size:30px;
}
}
#score{
  margin-bottom:20px;
}
