body{
text-align:center;
/*color:#f0134d;*/
color:white;
font-size:25px;
}
section{
  width:80%;
  margin:0 auto;
}
.containerField
{
  width:100%;
}
.mainHeading{
  font-family: 'Lobster', cursive;
  margin:150px auto 80px auto;
  font-size:5rem;
  line-height:1.5;
}
.subHeading{
  font-family: 'Ubuntu', sans-serif;
}
p{
  margin-top:80px;
}

.inputText{
  color:#d15a7c;
  width:90%;
  background-color:#f1fcfc;
  margin:20px auto;
  padding:3px 10px;
}
.btn{
  color:white;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 80px;
  border:1px solid;
  padding:5px 10px;
  font-size:25px;
}
#score{
  margin-bottom:20px;
}
.developerName{
  color:black;
  text-align:right;
  font-family: 'Satisfy', cursive;
}

@media (max-width:1080px;)
{
  .mainHeading{
    font-size:3.5rem;
  }
}
